In [1]:
import numpy as np
import pandas as pd
import math
import random
import matplotlib.pyplot as plt
import warnings
import json
warnings.filterwarnings('ignore')

In [2]:
subj_y = np.load("./subj_hadm_process/pancan_subj.npy")
print(len(subj_y), subj_y[3])
subj_n = np.load("./subj_hadm_process/safe_subj.npy")
print(len(subj_n), subj_n[3])
with open('./subj_hadm_process/hadms.json', 'r') as f:
    json_data = json.load(f)
json_data = {int(k): int(v) for k, v in json_data.items()}
print(len(json_data))

8473 10002013
8643 10005749
17116

In [3]:
valid_hadms = []
for key in json_data:
    valid_hadms.append(json_data[key])
print(len(valid_hadms))

17116

In [4]:
thresholds = dict()
thresholds['procedures_icd'] = 20
thresholds['medication_ndc'] = 500
thresholds['lab_chart'] = 500

In [5]:
def get_reindexed(df, column, threshold):
    mapping = dict()
    counts = dict()
    for i in range(len(df)):
        if(df[column][i] not in counts):
            counts[df[column][i]] = 0
        else:
            counts[df[column][i]] +=1
    for i in range(len(df)):
        if((df[column][i] not in mapping) and (counts[df[column][i]]>=threshold)):
            mapping[df[column][i]] = len(mapping)
    counts = dict(sorted(counts.items(), key=lambda item: item[1]))
    print("CURRENT LENGTH IS:", len(mapping))
    print("TOTAL LENGTH WOULD HAVE BEEN:", len(counts))
    return mapping, counts

## PATIENTS

In [6]:
patient_df = pd.read_csv("/Users/kushagragarwal2443/Documents/CMU/mimic-iv-2.2/hosp/patients.csv").drop(['anchor_age', 'anchor_year', 'anchor_year_group', 'dod'], axis=1)
gender_mapping = {'M': 0, 'F': 1}
patient_df['GENDER'] = patient_df['gender'].map(gender_mapping)

label = []
for i in range(len(patient_df)):
    subjid = patient_df["subject_id"][i]
    if(subjid in subj_y):
        label.append(1)
    elif(subjid in subj_n):
        label.append(0)
    else:
        label.append(2)
        
patient_df['PANCAN'] = label  
patient_df = patient_df[patient_df['PANCAN'] != 2]

patient_df = patient_df.drop("gender", axis=1).reset_index(drop=True)
patient_df.rename(columns={'subject_id': 'SUBJECT_ID'}, inplace=True)

print(len(patient_df))
patient_df.head()

17116

   SUBJECT_ID  GENDER  PANCAN
0    10000764       0       1
1    10000980       1       1
2    10001492       1       1
3    10001667       1       0
4    10002013       1       1

## PROCEDURES

In [7]:
procedure_df = pd.read_csv("/Users/kushagragarwal2443/Documents/CMU/mimic-iv-2.2/hosp/procedures_icd.csv")
procedure_df['ICD_CODE'] = procedure_df['icd_code'] + '_' + procedure_df['icd_version'].astype('str')
procedure_df = procedure_df.drop(['seq_num', 'chartdate', 'icd_code', 'icd_version'], axis=1)
procedure_df.rename(columns={'subject_id': 'SUBJECT_ID'}, inplace=True)
print(len(procedure_df))
procedure_df = procedure_df[procedure_df['hadm_id'].isin(valid_hadms)].reset_index(drop=True)
procedure_df = procedure_df.drop(['hadm_id'], axis=1)
print(len(procedure_df))
procedure_df.head()

669186
40180

   SUBJECT_ID    ICD_CODE
0    10001492      3722_9
1    10001492      8853_9
2    10001492      8855_9
3    10002155      3491_9
4    10002495  027034Z_10

In [8]:
icd_codes_mapping, icd_codes_counts = get_reindexed(procedure_df, 'ICD_CODE', thresholds['procedures_icd'])
print(icd_codes_mapping)

CURRENT LENGTH IS: 250
TOTAL LENGTH WOULD HAVE BEEN: 3488
{'3722_9': 0, '8853_9': 1, '8855_9': 2, '3491_9': 3, '027034Z_10': 4, '5A02210_10': 5, '4A023N7_10': 6, 'B211YZZ_10': 7, '4A023N6_10': 8, '5A1955Z_10': 9, '0W9930Z_10': 10, '02H633Z_10': 11, '3E0G76Z_10': 12, '0BH17EZ_10': 13, '02HV33Z_10': 14, '0B9B8ZX_10': 15, '5491_9': 16, '3893_9': 17, '02C03ZZ_10': 18, '0W9G3ZZ_10': 19, '0W9G3ZX_10': 20, '3E0436Z_10': 21, '5A1D60Z_10': 22, '8856_9': 23, '02HA3RZ_10': 24, '5A0221D_10': 25, '5A1935Z_10': 26, '02HP32Z_10': 27, '741_9': 28, '0066_9': 29, '3606_9': 30, '0048_9': 31, '0040_9': 32, '9920_9': 33, '3615_9': 34, '3612_9': 35, '3961_9': 36, '0DH63UZ_10': 37, '10E0XZZ_10': 38, '0HQ9XZZ_10': 39, '0DJ08ZZ_10': 40, '5A1945Z_10': 41, '3E0H76Z_10': 42, '0BJ08ZZ_10': 43, '5732_9': 44, '5122_9': 45, '7779_9': 46, '8162_9': 47, '9672_9': 48, '9604_9': 49, '3323_9': 50, '3891_9': 51, '02100Z9_10': 52, '06BP4ZZ_10': 53, '5A1221Z_10': 54, 'B212YZZ_10': 55, '5A12012_10': 56, 'B548ZZA_10': 57, '3761_9': 58, '9960_9': 59, '9962_9': 60, '0041_9': 61, '3995_9': 62, '3607_9': 63, '0046_9': 64, 'B2111ZZ_10': 65, '021109W_10': 66, '06BQ4ZZ_10': 67, '5188_9': 68, '5185_9': 69, '8952_9': 70, '8938_9': 71, '8872_9': 72, '3727_9': 73, '0047_9': 74, '5A1D70Z_10': 75, '8628_9': 76, '9671_9': 77, '0045_9': 78, '3899_9': 79, '3E033VJ_10': 80, '7309_9': 81, '7569_9': 82, '7359_9': 83, '009U3ZX_10': 84, '3783_9': 85, '3772_9': 86, '966_9': 87, '3324_9': 88, '3897_9': 89, '3E033PZ_10': 90, '02HQ32Z_10': 91, '4A133B3_10': 92, '4A1239Z_10': 93, '02RF38Z_10': 94, '0KQM0ZZ_10': 95, '02UG0JZ_10': 96, '8051_9': 97, '8451_9': 98, '8E0W4CZ_10': 99, '0331_9': 100, '3734_9': 101, '3142_9': 102, '4011_9': 103, '598_9': 104, '4701_9': 105, '021009W_10': 106, '3768_9': 107, '9744_9': 108, '5123_9': 109, '9904_9': 110, '5421_9': 111, '4516_9': 112, '7936_9': 113, '5187_9': 114, '3611_9': 115, '7932_9': 116, '0044_9': 117, '8703_9': 118, '4311_9': 119, '3723_9': 120, '3895_9': 121, '0FT44ZZ_10': 122, '3521_9': 123, '3721_9': 124, '7935_9': 125, '0390_9': 126, '027035Z_10': 127, '4A033BC_10': 128, '027135Z_10': 129, '9607_9': 130, '311_9': 131, '4513_9': 132, '3614_9': 133, '02RF08Z_10': 134, '021209W_10': 135, '3613_9': 136, '0FC98ZZ_10': 137, '0F798DZ_10': 138, '8744_9': 139, '9915_9': 140, '8611_9': 141, '3321_9': 142, '3726_9': 143, '0JH63XZ_10': 144, '5A1D90Z_10': 145, '5A1D00Z_10': 146, '8659_9': 147, '0B113F4_10': 148, '0BH18EZ_10': 149, 'B218YZZ_10': 150, 'B213YZZ_10': 151, '05HM33Z_10': 152, 'B215YZZ_10': 153, '02703ZZ_10': 154, '9910_9': 155, '0DB68ZX_10': 156, '4443_9': 157, '8847_9': 158, '9390_9': 159, '02L70CK_10': 160, '0W9B3ZZ_10': 161, '8604_9': 162, '0W9B30Z_10': 163, '02110Z9_10': 164, '5A1223Z_10': 165, '0B9D8ZX_10': 166, '5A2204Z_10': 167, '0014_9': 168, '9907_9': 169, '7532_9': 170, '30283B1_10': 171, 'B41FYZZ_10': 172, '3322_9': 173, '8852_9': 174, '4A023N8_10': 175, '0W3P8ZZ_10': 176, '02100Z8_10': 177, '02100AW_10': 178, '03BC4ZZ_10': 179, '8841_9': 180, '5459_9': 181, '3964_9': 182, '3950_9': 183, '3990_9': 184, '02583ZZ_10': 185, '3794_9': 186, '8848_9': 187, '8857_9': 188, '8191_9': 189, '734_9': 190, '3979_9': 191, '8849_9': 192, '10907ZC_10': 193, '4131_9': 194, '07DR3ZX_10': 195, '3E04305_10': 196, '10D00Z1_10': 197, '0309_9': 198, '3512_9': 199, '8842_9': 200, '0JH606Z_10': 201, '02HK3JZ_10': 202, '02H63JZ_10': 203, '387_9': 204, '4525_9': 205, '0DJD8ZZ_10': 206, '0DB98ZX_10': 207, '8964_9': 208, '9229_9': 209, '3404_9': 210, '3929_9': 211, '8154_9': 212, '02703DZ_10': 213, '0B9J8ZX_10': 214, 'BF10YZZ_10': 215, '3533_9': 216, '9925_9': 217, '8345_9': 218, 'B310YZZ_10': 219, '3778_9': 220, '8838_9': 221, '3E1M39Z_10': 222, '0W9G30Z_10': 223, '4562_9': 224, '8622_9': 225, '5110_9': 226, '02HK3KZ_10': 227, 'B2131ZZ_10': 228, 'B2181ZZ_10': 229, '02580ZZ_10': 230, '9961_9': 231, '3403_9': 232, '021309W_10': 233, '8151_9': 234, '4523_9': 235, '8801_9': 236, '0059_9': 237, '9605_9': 238, '0042_9': 239, '027134Z_10': 240, '02PA3RZ_10': 241, '3E0P7VZ_10': 242, '5011_9': 243, '0DJ07ZZ_10': 244, '9929_9': 245, 'B210YZZ_10': 246, '8152_9': 247, '0B9F8ZX_10': 248, 'GZB2ZZZ_10': 249}

In [9]:
procedure_grouped_df = procedure_df.groupby('SUBJECT_ID')['ICD_CODE'].agg(list).reset_index()
procedure_grouped_df['ICD_FEATURES'] = None

for i in range(len(procedure_grouped_df)):
    feature_vec = np.zeros(len(icd_codes_mapping), dtype=int)
    codes = list(set(procedure_grouped_df["ICD_CODE"][i]))
    for code in codes:
        if(icd_codes_counts[code]>=thresholds['procedures_icd']):
            index = icd_codes_mapping[code]
            feature_vec[index] = 1
    procedure_grouped_df['ICD_FEATURES'][i] = list(feature_vec)
print(len(procedure_grouped_df))
procedure_grouped_df.head()

10540

,SUBJECT_ID,ICD_CODE,ICD_FEATURES
0,10001492,"[3722_9, 8853_9, 8855_9]","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,10002155,[3491_9],"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,10002495,"[027034Z_10, 5A02210_10, 4A023N7_10, B211YZZ_1...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, ..."
3,10004365,[6662_9],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,10004720,"[5A1955Z_10, 0W9930Z_10, 02H633Z_10, 3E0G76Z_10]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, ..."

In [11]:
index = 0
lista = []
listb = []
for i in range(len(procedure_grouped_df['ICD_FEATURES'][index])):
    if(procedure_grouped_df['ICD_FEATURES'][index][i]==1):
        lista.append(i)

for key in procedure_grouped_df['ICD_CODE'][index]:
    if(key in icd_codes_mapping):
        listb.append(icd_codes_mapping[key])
        
print(lista)
print(listb)
print(set(lista)==set(listb))

[0, 1, 2]
[0, 1, 2]
True

## MEDICATION

In [12]:
med_df = pd.read_csv("/Users/kushagragarwal2443/Documents/CMU/mimic-iv-2.2/hosp/prescriptions.csv").drop(['pharmacy_id', 'poe_id', 'poe_seq',
       'order_provider_id', 'starttime', 'stoptime', 'drug_type', 'drug',
       'formulary_drug_cd', 'gsn', 'prod_strength', 'form_rx',
       'dose_val_rx', 'dose_unit_rx', 'form_val_disp', 'form_unit_disp',
       'doses_per_24_hrs', 'route'], axis=1)
med_df.head()

   subject_id   hadm_id           ndc
0    10000032  22595853  9.041989e+08
1    10000032  22595853  0.000000e+00
2    10000032  22595853  5.107901e+10
3    10000032  22595853  6.022761e+06
4    10000032  22595853  6.332303e+10

In [13]:
medication_df = med_df.copy()
medication_df = medication_df.fillna(0).astype(int)
medication_df.rename(columns={'subject_id': 'SUBJECT_ID'}, inplace=True)
medication_df.rename(columns={'ndc': 'NDC'}, inplace=True)
print(len(medication_df))

medication_df = medication_df[medication_df['hadm_id'].isin(valid_hadms)].reset_index(drop=True)
medication_df = medication_df.drop(['hadm_id'], axis=1)

print(len(medication_df))
medication_df.head()

15416708
890787

   SUBJECT_ID          NDC
0    10000764    121043130
1    10000764    904571135
2    10000764    121065721
3    10000764    904404073
4    10000764  68084009901

In [14]:
ndc_mapping, ndc_counts = get_reindexed(medication_df, 'NDC', thresholds['medication_ndc'])
print(ndc_mapping)

CURRENT LENGTH IS: 308
TOTAL LENGTH WOULD HAVE BEEN: 4156
{121043130: 0, 121065721: 1, 904404073: 2, 51079000220: 3, 378003201: 4, 0: 5, 904224461: 6, 121054410: 7, 19515089452: 8, 11523726808: 9, 904634061: 10, 68016001129: 11, 574705050: 12, 904629461: 13, 60258000601: 14, 63323026201: 15, 409610204: 16, 2871501: 17, 51079093120: 18, 2751001: 19, 597026010: 20, 904652261: 21, 904198261: 22, 64764080530: 23, 38396055018: 24, 88222033: 25, 487020101: 26, 409490234: 27, 51079021103: 28, 68084053901: 29, 904628889: 30, 338008504: 31, 63739002401: 32, 338004904: 33, 904516561: 34, 904504561: 35, 63653117103: 36, 409176230: 37, 6494300: 38, 51079025520: 39, 338055002: 40, 904642281: 41, 2821501: 42, 904629261: 43, 904677361: 44, 76329330101: 45, 904645561: 46, 68084034701: 47, 641040012: 48, 536338101: 49, 49502069724: 50, 338004938: 51, 8092355: 52, 409198530: 53, 487980125: 54, 10019017644: 55, 406717162: 56, 338500241: 57, 60505251903: 58, 63323047401: 59, 409128331: 60, 63739027201: 61, 49281041550: 62, 61553005148: 63, 186077739: 64, 338043103: 65, 43825010201: 66, 71015892: 67, 66758016013: 68, 409672924: 69, 56016975: 70, 904399061: 71, 51079086320: 72, 68084066601: 73, 55390000401: 74, 51079007220: 75, 409491134: 76, 409610202: 77, 63739035810: 78, 76439034310: 79, 338070948: 80, 264958720: 81, 56017075: 82, 338001702: 83, 641614225: 84, 904627761: 85, 68084044701: 86, 338105102: 87, 76329301205: 88, 409189001: 89, 338105548: 90, 338100702: 91, 409177805: 92, 409909332: 93, 23050601: 94, 182844789: 95, 406051262: 96, 338011704: 97, 781305714: 98, 61553011841: 99, 61553012011: 100, 641612525: 101, 51079096620: 102, 63323026965: 103, 409751716: 104, 409475503: 105, 338055318: 106, 409733201: 107, 409707714: 108, 51079041720: 109, 60505068104: 110, 338355248: 111, 61553019648: 112, 57896042101: 113, 904053061: 114, 49281041688: 115, 2831501: 116, 51079007320: 117, 245005301: 118, 338070341: 119, 338001704: 120, 409662502: 121, 338004902: 122, 51079020520: 123, 944049302: 124, 338634603: 125, 63323061603: 126, 310032520: 127, 63323049289: 128, 338004911: 129, 338001731: 130, 409610210: 131, 338355148: 132, 173068224: 133, 143987510: 134, 641607825: 135, 591352530: 136, 8290306525: 137, 406055262: 138, 597008717: 139, 54569523500: 140, 57896045208: 141, 944049505: 142, 409433201: 143, 703450204: 144, 409131230: 145, 66689040150: 146, 338004304: 147, 409792337: 148, 63323030201: 149, 61553008348: 150, 63323029766: 151, 10019016312: 152, 409663734: 153, 63323001302: 154, 62584089701: 155, 409915801: 156, 61553015311: 157, 67467064301: 158, 63739035410: 159, 17714001110: 160, 71041724: 161, 8092360: 162, 904623561: 163, 25021040010: 164, 338001738: 165, 42023016425: 166, 50383077933: 167, 168001231: 168, 63323031110: 169, 409724101: 170, 378001805: 171, 51079052420: 172, 68094020462: 173, 904582460: 174, 409477702: 175, 904054460: 176, 182864389: 177, 64980010401: 178, 409779362: 179, 338004903: 180, 245004101: 181, 603385521: 182, 409665106: 183, 121176130: 184, 66553000401: 185, 10432017002: 186, 904777261: 187, 6473900: 188, 51079045420: 189, 71015823: 190, 60505260400: 191, 93521193: 192, 51079038620: 193, 172375810: 194, 58177020211: 195, 54162055007: 196, 409672923: 197, 69543037910: 198, 68084052401: 199, 338001703: 200, 338358048: 201, 66553000201: 202, 63323031119: 203, 25021067376: 204, 338519741: 205, 121197100: 206, 904585461: 207, 904198861: 208, 487950101: 209, 61553020648: 210, 8084199: 211, 641608025: 212, 409739172: 213, 63323026929: 214, 121174410: 215, 904673061: 216, 19515090641: 217, 63323028002: 218, 904629304: 219, 517570425: 220, 206885216: 221, 641607325: 222, 517570225: 223, 206886202: 224, 456066270: 225, 574027511: 226, 63323010605: 227, 904632261: 228, 409148402: 229, 62584026501: 230, 49281001350: 231, 713016550: 232, 17478093401: 233, 409180001: 234, 904526161: 235, 264310511: 236, 68516521402: 237, 54162000708: 238, 904568461: 239, 19515090941: 240, 56017275: 241, 63323061401: 242, 36000003310: 243, 51079055720: 244, 409665305: 245, 603155404: 246, 51079080120: 247, 904647461: 248, 8290306510: 249, 536100836: 250, 904150061: 251, 54839224: 252, 597007575: 253, 338004931: 254, 8290036005: 255, 904598061: 256, 51079098220: 257, 45802011222: 258, 51079045120: 259, 409781124: 260, 2445385: 261, 68084065901: 262, 3089431: 263, 904640161: 264, 50242004413: 265, 409729501: 266, 10019003867: 267, 63323026920: 268, 703115303: 269, 517571025: 270, 55390034810: 271, 58177029311: 272, 904644461: 273, 56017675: 274, 68084059101: 275, 76014000410: 276, 51672131200: 277, 121483940: 278, 63739052201: 279, 338350841: 280, 71019028507: 281, 70860077602: 282, 68084035401: 283, 904636561: 284, 17856200205: 285, 50268008415: 286, 904655661: 287, 338067104: 288, 51079045620: 289, 121457735: 290, 143987310: 291, 51079090620: 292, 182116189: 293, 51079098120: 294, 904530661: 295, 68084007001: 296, 173071920: 297, 68084025901: 298, 51079010520: 299, 378207201: 300, 54848616: 301, 409125830: 302, 264751010: 303, 54001820: 304, 63323054011: 305, 51079002420: 306, 55390007310: 307}

In [15]:
med_grouped_df = medication_df.groupby('SUBJECT_ID')['NDC'].agg(list).reset_index()
med_grouped_df['NDC_FEATURES'] = None

for i in range(len(med_grouped_df)):
    feature_vec = np.zeros(len(ndc_mapping), dtype=int)
    codes = list(set(med_grouped_df["NDC"][i]))
    for code in codes:
        if(ndc_counts[code]>=thresholds['medication_ndc']):
            index = ndc_mapping[code]
            feature_vec[index] = 1
    med_grouped_df['NDC_FEATURES'][i] = list(feature_vec)
print(len(med_grouped_df))
med_grouped_df.head()

15239

,SUBJECT_ID,NDC,NDC_FEATURES
0,10000764,"[121043130, 904571135, 121065721, 904404073, 6...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,10000980,"[93065801, 409610204, 2871501, 51079093120, 27...","[1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,10001492,"[58160087346, 641040025, 58177032304, 52604510...","[0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,10001667,"[904642281, 904652261, 2821501, 68084048211, 5...","[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
4,10002155,"[49502069724, 58177009111, 338004938, 8092355,...","[0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [16]:
index = 2
lista = []
listb = []
for i in range(len(med_grouped_df['NDC_FEATURES'][index])):
    if(med_grouped_df['NDC_FEATURES'][index][i]==1):
        lista.append(i)

for key in med_grouped_df['NDC'][index]:
    if(key in ndc_mapping):
        listb.append(ndc_mapping[key])
        
print(lista)
print(listb)
print(set(lista)==set(listb))

[2, 5, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]
[2, 31, 32, 33, 34, 35, 36, 37, 33, 38, 31, 31, 5, 5, 39, 36, 5, 40, 39]
True

## LAB

In [18]:
large_csv_path = "/Users/kushagragarwal2443/Documents/CMU/mimic-iv-2.2/hosp/labevents.csv"
chunk_size = 5000000
reader = pd.read_csv(large_csv_path, chunksize=chunk_size)
chunk = next(reader, None)
chunk = chunk.drop(['labevent_id', 'specimen_id',
       'order_provider_id', 'charttime', 'storetime', 'value',
       'valueuom', 'ref_range_lower', 'ref_range_upper', 'flag', 'priority',
       'comments'], axis=1)
labevents_df = pd.DataFrame(columns=chunk.columns)
reader = pd.read_csv(large_csv_path, chunksize=chunk_size)
i = 0
while True:
    chunk = next(reader, None)
    if chunk is not None:
        print(f'Reading Chunk {i + 1}')
        chunk = chunk.drop(['labevent_id', 'specimen_id',
       'order_provider_id', 'charttime', 'storetime', 'value',
       'valueuom', 'ref_range_lower', 'ref_range_upper', 'flag', 'priority',
       'comments'], axis=1)[chunk['hadm_id'].isin(valid_hadms)].reset_index(drop=True)
        labevents_df = labevents_df._append(chunk, ignore_index=True)
        print(len(labevents_df))
    else:
        print('Finished processing the CSV file.')
        break
    i +=1
labevents_df.to_csv("../data/labevents_final.csv")

Reading Chunk 1
157390
Reading Chunk 2
311975
Reading Chunk 3
462807
Reading Chunk 4
635674
Reading Chunk 5
790477
Reading Chunk 6
976433
Reading Chunk 7
1121059
Reading Chunk 8
1287868
Reading Chunk 9
1466908
Reading Chunk 10
1627442
Reading Chunk 11
1773978
Reading Chunk 12
1929295
Reading Chunk 13
2093981
Reading Chunk 14
2258548
Reading Chunk 15
2409735
Reading Chunk 16
2569233
Reading Chunk 17
2711971
Reading Chunk 18
2879455
Reading Chunk 19
3051334
Reading Chunk 20
3203023
Reading Chunk 21
3349956
Reading Chunk 22
3505526
Reading Chunk 23
3660694
Reading Chunk 24
3766349
Finished processing the CSV file.

In [19]:
labevents_df = pd.read_csv("../data/labevents_final.csv").drop(["Unnamed: 0", 'hadm_id'], axis=1)
labevents_df.head()

   subject_id  itemid  valuenum
0    10000764   51221     40.20
1    10000764   51221     38.70
2    10000764   51003      0.04
3    10000764   50933       NaN
4    10000764   51146      0.40

In [20]:
print(len(set(list(labevents_df['subject_id']))))
lab_df = labevents_df.copy()
lab_df.rename(columns={'subject_id': 'SUBJECT_ID'}, inplace=True)
lab_df.rename(columns={'itemid': 'CHART_ITEMID'}, inplace=True)
lab_df.rename(columns={'valuenum': 'CHART_VALUENUM'}, inplace=True)
display(lab_df)

14746

         SUBJECT_ID  CHART_ITEMID  CHART_VALUENUM
0          10000764         51221           40.20
1          10000764         51221           38.70
2          10000764         51003            0.04
3          10000764         50933             NaN
4          10000764         51146            0.40
...             ...           ...             ...
3766344    19999303         50960            2.30
3766345    19999303         50970            3.10
3766346    19999303         50971            3.80
3766347    19999303         50983          134.00
3766348    19999303         51006           10.00

[3766349 rows x 3 columns]

In [21]:
chart_mapping, chart_counts = get_reindexed(lab_df, 'CHART_ITEMID', thresholds['lab_chart'])

CURRENT LENGTH IS: 179
TOTAL LENGTH WOULD HAVE BEEN: 760

In [22]:
chart_items = dict()
chart_items_mean = dict()
chart_items_std = dict()

for i in range(len(lab_df)):
    itemid = lab_df["CHART_ITEMID"][i]
    if(itemid not in chart_mapping):
        continue
    else:
        if(itemid not in chart_items):
            chart_items[itemid] = []
        chart_items[itemid].append(lab_df["CHART_VALUENUM"][i])
        
for item in chart_items:
    chart_items_mean[item] = np.mean(np.array(chart_items[item]))
    chart_items_std[item]  = np.std(np.array(chart_items[item]))
    
print(len(chart_items), len(chart_items_mean), len(chart_items_std))

179 179 179

In [23]:
lab_df['CHART'] = None
for i in range(len(lab_df)):
    itemid = lab_df["CHART_ITEMID"][i]
    if(itemid not in chart_mapping):
        continue
    else:
        value = lab_df["CHART_VALUENUM"][i]
        mean = chart_items_mean[itemid]
        std = chart_items_std[itemid]
        if(value > (mean+std)):
            lab_df['CHART'][i] = str(itemid)+":HIGH"
        elif(value < (mean-std)):
            lab_df['CHART'][i] = str(itemid)+":LOW"
        else:
            lab_df['CHART'][i] = str(itemid)+":MED"
print(len(lab_df))
lab_df.head()

3766349

   SUBJECT_ID  CHART_ITEMID  CHART_VALUENUM      CHART
0    10000764         51221           40.20  51221:MED
1    10000764         51221           38.70  51221:MED
2    10000764         51003            0.04  51003:MED
3    10000764         50933             NaN  50933:MED
4    10000764         51146            0.40  51146:MED

In [24]:
lab_df = lab_df.dropna(subset=['CHART']).reset_index(drop=True).drop(columns=['CHART_ITEMID', 'CHART_VALUENUM'], axis=1)
print(len(lab_df))
lab_df.head()

3724479

   SUBJECT_ID      CHART
0    10000764  51221:MED
1    10000764  51221:MED
2    10000764  51003:MED
3    10000764  50933:MED
4    10000764  51146:MED

In [25]:
chart_final_mapping, chart_final_counts = get_reindexed(lab_df, 'CHART', 0)
print(chart_final_mapping)

CURRENT LENGTH IS: 207
TOTAL LENGTH WOULD HAVE BEEN: 207
{'51221:MED': 0, '51003:MED': 1, '50933:MED': 2, '51146:MED': 3, '51200:MED': 4, '51222:MED': 5, '51244:MED': 6, '51248:MED': 7, '51249:MED': 8, '51250:MED': 9, '51254:MED': 10, '51256:MED': 11, '51265:MED': 12, '51277:MED': 13, '51279:MED': 14, '51301:MED': 15, '50868:MED': 16, '50882:MED': 17, '50902:MED': 18, '50912:MED': 19, '50931:MED': 20, '50971:MED': 21, '50983:MED': 22, '51006:MED': 23, '51237:MED': 24, '51274:MED': 25, '51275:MED': 26, '51078:MED': 27, '51082:MED': 28, '51087:MED': 29, '51093:MED': 30, '51097:MED': 31, '51100:MED': 32, '51103:MED': 33, '51104:MED': 34, '51463:MED': 35, '51464:MED': 36, '51466:MED': 37, '51476:MED': 38, '51478:MED': 39, '51484:MED': 40, '51486:MED': 41, '51487:MED': 42, '51491:MED': 43, '51492:MED': 44, '51493:MED': 45, '51498:MED': 46, '51506:MED': 47, '51508:MED': 48, '51512:MED': 49, '51514:MED': 50, '51516:MED': 51, '51519:MED': 52, '50893:MED': 53, '50908:MED': 54, '50910:MED': 55, '50911:MED': 56, '50960:MED': 57, '50970:MED': 58, '51133:MED': 59, '52069:MED': 60, '52073:MED': 61, '52074:MED': 62, '52075:MED': 63, '52135:MED': 64, '52172:MED': 65, '50934:MED': 66, '50947:MED': 67, '51678:MED': 68, '50887:MED': 69, '50920:MED': 70, '50963:MED': 71, '50802:MED': 72, '50804:MED': 73, '50818:MED': 74, '50820:MED': 75, '50821:MED': 76, '52033:MED': 77, '50903:MED': 78, '50904:MED': 79, '50905:MED': 80, '50907:MED': 81, '51000:MED': 82, '50861:MED': 83, '50862:MED': 84, '50863:MED': 85, '50878:MED': 86, '50885:MED': 87, '50954:MED': 88, '50993:MED': 89, '51010:MED': 90, '50813:MED': 91, '50808:MED': 92, '51479:MED': 93, '51482:MED': 94, '50825:MED': 95, '51137:MED': 96, '51143:MED': 97, '51144:MED': 98, '51233:MED': 99, '51246:MED': 100, '51251:MED': 101, '51252:MED': 102, '51255:MED': 103, '51266:MED': 104, '51267:MED': 105, '51268:MED': 106, '52111:MED': 107, '50852:MED': 108, '51613:MED': 109, '51518:MED': 110, '50979:MED': 111, '50817:MED': 112, '50810:MED': 113, '50811:MED': 114, '50809:MED': 115, '51260:MED': 116, '50955:MED': 117, '50919:MED': 118, '50812:MED': 119, '50816:MED': 120, '50819:MED': 121, '50826:MED': 122, '50827:MED': 123, '52023:MED': 124, '50908:HIGH': 125, '50964:MED': 126, '50828:MED': 127, '51214:MED': 128, '51007:MED': 129, '50815:MED': 130, '51287:MED': 131, '50976:MED': 132, '51009:MED': 133, '51706:MED': 134, '51462:MED': 135, '50822:MED': 136, '50806:MED': 137, '50824:MED': 138, '50883:MED': 139, '50884:HIGH': 140, '50935:MED': 141, '51071:MED': 142, '51079:MED': 143, '50889:MED': 144, '51000:HIGH': 145, '50976:HIGH': 146, '51102:MED': 147, '50940:MED': 148, '50941:MED': 149, '50942:MED': 150, '50943:MED': 151, '50811:LOW': 152, '51257:MED': 153, '50826:HIGH': 154, '50956:MED': 155, '51294:MED': 156, '51296:MED': 157, '50801:MED': 158, '50823:MED': 159, '50908:LOW': 160, '50856:MED': 161, '50922:MED': 162, '50981:MED': 163, '50999:MED': 164, '50811:HIGH': 165, '51501:MED': 166, '50884:MED': 167, '50909:MED': 168, '51282:MED': 169, '51283:MED': 170, '50924:MED': 171, '50952:MED': 172, '50953:MED': 173, '50998:MED': 174, '51613:HIGH': 175, '50907:LOW': 176, '51074:MED': 177, '51075:MED': 178, '51090:MED': 179, '51092:MED': 180, '51107:MED': 181, '50907:HIGH': 182, '50925:MED': 183, '50801:LOW': 184, '50823:LOW': 185, '50801:HIGH': 186, '50823:HIGH': 187, '51228:MED': 188, '50867:MED': 189, '50953:LOW': 190, '50998:LOW': 191, '51752:MED': 192, '50953:HIGH': 193, '50998:HIGH': 194, '50903:HIGH': 195, '50917:MED': 196, '50976:LOW': 197, '50826:LOW': 198, '50967:MED': 199, '51613:LOW': 200, '50815:HIGH': 201, '50819:HIGH': 202, '50819:LOW': 203, '50909:HIGH': 204, '50986:MED': 205, '50903:LOW': 206}

In [26]:
lab_grouped_df = lab_df.groupby('SUBJECT_ID')['CHART'].agg(list).reset_index()
lab_grouped_df['CHART_FEATURES'] = None

for i in range(len(lab_grouped_df)):
    feature_vec = np.zeros(len(chart_final_mapping), dtype=int)
    codes = list(set(lab_grouped_df["CHART"][i]))
    for code in codes:
        if(chart_final_counts[code]>=0):
            index = chart_final_mapping[code]
            feature_vec[index] = 1
    lab_grouped_df['CHART_FEATURES'][i] = list(feature_vec)
print(len(lab_grouped_df))
lab_grouped_df.head()

14736

,SUBJECT_ID,CHART,CHART_FEATURES
0,10000764,"[51221:MED, 51221:MED, 51003:MED, 50933:MED, 5...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,10000980,"[50933:MED, 51133:MED, 51146:MED, 51200:MED, 5...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
2,10001492,"[50908:MED, 50910:MED, 50911:MED, 51003:MED, 5...","[1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, ..."
3,10001667,"[50861:MED, 50862:MED, 50863:MED, 50868:MED, 5...","[1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, ..."
4,10002013,"[50868:MED, 50882:MED, 50902:MED, 50912:MED, 5...","[1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [27]:
index = 2
lista = []
listb = []
for i in range(len(lab_grouped_df['CHART_FEATURES'][index])):
    if(lab_grouped_df['CHART_FEATURES'][index][i]==1):
        lista.append(i)

for key in lab_grouped_df['CHART'][index]:
    if(key in chart_final_mapping):
        listb.append(chart_final_mapping[key])
        
print(lista)
print(listb)
print(set(lista)==set(listb))

[0, 1, 5, 7, 8, 9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 26, 53, 54, 55, 56, 57, 58, 78, 79, 80, 81, 82]
[54, 55, 56, 1, 0, 5, 7, 8, 9, 12, 13, 14, 15, 16, 17, 18, 78, 79, 80, 81, 54, 55, 56, 19, 20, 21, 22, 82, 1, 23, 26, 0, 0, 5, 7, 8, 9, 12, 13, 14, 15, 16, 17, 53, 18, 19, 20, 57, 58, 21, 22, 23, 0]
True

## MERGE

In [31]:
encounter_dict = dict()
procedure_found = 0
med_found = 0
lab_found = 0
deleted = 0

for i in range(len(patient_df)): 

    if(i%1000==0):
        print(i)
    
    procedure_flag = 0
    med_flag = 0
    lab_flag = 0
    
    subjid = patient_df["SUBJECT_ID"][i]
    
    key = str(subjid)
    encounter_dict[key] = dict()
    
    encounter_dict[key]["GENDER"] = patient_df["GENDER"][i]
    
    encounter_dict[key]['Procedures_ICD_Features'] = np.zeros(len(icd_codes_mapping), dtype=int)
    encounter_dict[key]['Medication_NDC_Features'] = np.zeros(len(ndc_mapping), dtype=int)
    encounter_dict[key]['Lab_Chart_Features'] = np.zeros(len(chart_final_mapping), dtype=int)
    
    encounter_dict[key]['Acute myocardial infarction'] = patient_df["PANCAN"][i]
    
    for j in range(len(procedure_grouped_df)):
        if(procedure_grouped_df['SUBJECT_ID'][j]==subjid):
            encounter_dict[key]['Procedures_ICD_Features'] = procedure_grouped_df['ICD_FEATURES'][j]
            procedure_found+=1
            procedure_flag = 1
            
    for j in range(len(med_grouped_df)):
        if(med_grouped_df['SUBJECT_ID'][j]==subjid):
            encounter_dict[key]['Medication_NDC_Features'] = med_grouped_df['NDC_FEATURES'][j]
            med_found+=1
            med_flag= 1
            
    for j in range(len(lab_grouped_df)):
        if(lab_grouped_df['SUBJECT_ID'][j]==subjid):
            encounter_dict[key]['Lab_Chart_Features'] = lab_grouped_df['CHART_FEATURES'][j]
            lab_found+=1
            lab_flag = 1
            
    if((procedure_flag+med_flag+lab_flag) < 2):
        deleted +=1
        del encounter_dict[key]

print(len(patient_df))
print(procedure_found, med_found, lab_found)
print(len(encounter_dict))

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
17116
10540 15239 14736
14920

In [32]:
mimic = pd.DataFrame(encounter_dict).T
print(len(mimic))
print(len(mimic.columns))
mimic['PATIENT_KEY'] = mimic.index
mimic = mimic[['PATIENT_KEY'] + [col for col in mimic.columns if col != 'PATIENT_KEY']]
mimic.reset_index(drop=True, inplace=True)
mimic.head()

14920
5

,PATIENT_KEY,GENDER,Procedures_ICD_Features,Medication_NDC_Features,Lab_Chart_Features,Acute myocardial infarction
0,10000764,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",1
1,10000980,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",1
2,10001492,1,"[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, ...",1
3,10001667,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, ...",0
4,10002155,1,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, ...",1

In [33]:
def concatenate_all(row):
    return [row['GENDER']] + list(row['Procedures_ICD_Features']) + list(row['Medication_NDC_Features']) + list(row['Lab_Chart_Features'])
mimic["EHR_Features"] = mimic.apply(concatenate_all, axis=1)
mimic.head()

,PATIENT_KEY,GENDER,Procedures_ICD_Features,Medication_NDC_Features,Lab_Chart_Features,Acute myocardial infarction,EHR_Features
0,10000764,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,10000980,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",1,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,10001492,1,"[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, ...",1,"[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,10001667,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, ...",0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,10002155,1,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, ...",1,"[1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [34]:
mimic.to_csv("../data/processed/MIMIC_Final.csv")

### Get X and Y for only EHR

In [35]:
X = []
for i in range(len(mimic)):
    X.append(mimic["EHR_Features"][i]) 
X = np.array(X)
print(X.shape, X[0][:5], X[1][:5])
np.save('../data/processed/MIMIC_X.npy', X)

(14920, 766) [0 0 0 0 0] [1 0 0 0 0]